body{
	margin: 0;
	text-align: center;
	color: #40514E;
	font-family: 'Merriweather',serif;/*use web safefonts*/
}
h1{
	font-size: 90px;
	margin: 50px auto 0px auto;
	font-family: 'Sacramento',cursive;
	color: #FFFFFF;
}
h2{
	font-size: 40px;
	font-family: 'Montserrat',sans-serif;
	color: blue;
	padding-bottom: 10px;
}
h3{
	font-family: 'Montserrat',sans-serif;
	color: #11999E;
}
.intro{
	width: 30%;
	margin: auto;
}
.contact-message{
	width: 40%;
	margin: 40px auto 60px;
}
.top-container{
	background-color: #8CB8F6;
	position: relative;
	padding-top: 100px;
}
.middle-container{
	margin: 100px 0px;
}
.bottom-container{
	background-color: #66BFBF;
	padding: 50px 0px 20px;
}
.top-cloud{
	position: absolute;
	top: 40px;
	right: 300px;
}
.bottom-cloud{
	position: absolute;
	bottom: 300px;
	left: 250px;
}
a{
	color: white;
	font-family: 'Montserrat',sans-serif;
	margin: 10px 20px;
	text-decoration: none;
}
a:hover{
	color: blue;
}
.copyright{
	color: blue;
	font-size: 0.75rem;
	padding: 20px 0px;
}
p{
	line-height: 2;
}
hr{
	border:dotted #5F939A 6px;
	border-bottom: none;
	width: 10%;
	margin: 100px auto;
}
.skill-row{
	width: 50%;
	margin: 100px auto;
	text-align: left;
}

.skill-img1{
	width: 25%;
	float: left;
	margin-right: 30px;
}
.skill-img2{
	width: 25%;
	float: right;
	margin-left: 30px;
}
.btn {
  background: #40514E;
  background-image: -webkit-linear-gradient(top, #40514E, #009dff);
  background-image: -moz-linear-gradient(top, #40514E, #009dff);
  background-image: -ms-linear-gradient(top, #40514E, #009dff);
  background-image: -o-linear-gradient(top, #40514E, #009dff);
  background-image: linear-gradient(to bottom, #40514E, #009dff);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}